USE [QL_CAFE]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [int] NOT NULL,
	[MAMH] [int] NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [pk_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYLAP] [date] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAMH] [int] IDENTITY(1,1) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[ANH] [varchar](50) NULL,
	[MALOAI] [int] NULL,
	[MANL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [int] IDENTITY(1,1) NOT NULL,
	[TENNL] [nvarchar](100) NULL,
	[MANCC] [int] NULL,
	[SOLUONG] [int] NULL,
	[CAPNHATNGAY] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [varchar](12) NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[MAVT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 12/11/2023 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MAVT] [int] IDENTITY(1,1) NOT NULL,
	[TENVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAMH], [SL], [DONGIA], [THANHTIEN]) VALUES (1, 1, 2, 20000, 40000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAMH], [SL], [DONGIA], [THANHTIEN]) VALUES (1, 2, 1, 10000, 10000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAMH], [SL], [DONGIA], [THANHTIEN]) VALUES (6, 3, 1, NULL, 3)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYLAP], [THANHTIEN]) VALUES (1, 1, CAST(N'2023-11-30' AS Date), 300000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYLAP], [THANHTIEN]) VALUES (2, 1, CAST(N'2023-11-30' AS Date), 100000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYLAP], [THANHTIEN]) VALUES (4, 1, CAST(N'2023-11-30' AS Date), 0)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (1, N'CAFE')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (2, N'BÁNH')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (3, N'TRÀ')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [DONGIA], [ANH], [MALOAI], [MANL]) VALUES (1, N'Cafe đen', 15000, N'anh1.jpg', 1, 1)
INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [DONGIA], [ANH], [MALOAI], [MANL]) VALUES (2, N'Cafe sữa', 18000, N'anh2.jpg', 1, 1)
INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [DONGIA], [ANH], [MALOAI], [MANL]) VALUES (3, N'Cafe phin', 18000, N'anh3.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] ON 

INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [MANCC], [SOLUONG], [CAPNHATNGAY]) VALUES (1, N'Bột cà phê', 1, 100, CAST(N'2023-11-07' AS Date))
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [MANCC], [SOLUONG], [CAPNHATNGAY]) VALUES (2, N'Bột cafe 3', 1, 50, CAST(N'2023-11-07' AS Date))
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (1, N'Buôn Mê Coffee', N'0918555302', N'Tp.HCM')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [SDT], [TENDANGNHAP], [MATKHAU], [MAVT]) VALUES (1, N'TRẦN THANH LÂN', N'tranthanhlanth9@gmail.com', N'0904613293', N'admin', N'123456', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [SDT], [TENDANGNHAP], [MATKHAU], [MAVT]) VALUES (3, N'TRẦN THANH 311', N'tranthanhlanth92@gmail.com', N'0904613293', N'admin', N'123456444', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [SDT], [TENDANGNHAP], [MATKHAU], [MAVT]) VALUES (4, N'TRẦN THANH ', N'tranthanhlanth@gmail.com', N'0904613293', N'lanthanh', N'123456', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([MAVT], [TENVT]) VALUES (1, N'QUẢN LÝ')
INSERT [dbo].[VAITRO] ([MAVT], [TENVT]) VALUES (2, N'NHÂN VIÊN')
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_MH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_MH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HOADONBAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HOADONBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_LOAIMON] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_LOAIMON]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_SP_NL] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_SP_NL]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [fk_NL_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [fk_NL_NCC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NV_VT] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VAITRO] ([MAVT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NV_VT]
GO
